# ==============================
# IDE
.idea
.vs

# ==============================
# scripts

# CPM.cmake & CPM.cmake.tmp
# see cmake/find_cpm.cmake
CPM.cmake*

# ==============================
# OUTPUT
out
build
*.pdb
